@font-face {
    font-family: 'Magical Night (DEMO)';
    src: url('https://raw.githubusercontent.com/ivanadito-ap/web/main/MagicalNightDEMO-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

